.s-members-container {
    width: 100%;
    display: table;
}

.members {
    padding: 0 0 30px;
    text-align: center;
}

.members a:before {
    content: '';
    position: absolute;
    top: -3px;
    right: -3px;
    bottom: -3px;
    left: -3px;
    border: 1px solid #ffc722;
}

.members a {
    padding: 0 50px;
    background: #ffc722;
    position: relative;
    display: inline-block;
    line-height: 38px;
    font-size: 12px;
    font-weight: bold;
    color: #363533;
    text-transform: uppercase;
    transition: 400ms all;
    -webkit-transition: 400ms all;
}

a {
    transition: 400ms color;
    -webkit-transition: 400ms color;
    outline: none;
    cursor: pointer;
}

.members a:hover {
    color: #fff;
    background: #363533;
}

.s-members {
    max-width: 1350px;
    display: block;
    margin: 10px auto;
}

.s-members-container:before {
    content: ' ';
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.05;
    background: url('../../../assets/images/grass.jpg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}