.s-news-container {
    width: 100%;
    background-image: url(../../../assets/images/shorts/news-background.jpg);
    background-position-y: -135%;
    background-repeat: no-repeat;
}

.s-news-article {
    width: 50%;
    background-color: white;
    padding: 10px;
}

.a-first {
    float: left;
}

.a-second {
    display: inline-block;
}

.s-news-img {
    height: 250px;
    display: inline-block;
    width: 50%;
    text-align: center;
    overflow: hidden;
}

.s-img {
    height: 100%;
}

.s-news-info {
    display: inline-block;
    width: 50%;
    float: right;

    min-height: 250px;
    
    padding: 0 20px;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    background: #f2f2f2;
}

.title {
    padding: 0px 0px;
    text-transform: uppercase;
    line-height: 91px;
    font-size: 50px;
    color: #363533;
    text-align: center;
}

.title span {
    color: #ffc722;
}

.s-article-container {
    max-width: 1150px;
    margin: auto;
    padding: 1% 0px 3% 0px;
}

.a-date {
    padding: 22px 0 0;
    font-size: 10px;
    color: #a4a4a4;
    font-weight: 500;
}

.a-title {
    font-size: 18px;
    text-transform: uppercase;
    line-height: 22px;
    height: 50px;
}

.a-text, .go-to-article > a {
    font-size: 15px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0 0 20px 0;
}

.more-news {
    padding: 0 0 30px;
    text-align: center;
}

.more-news a:before {
    content: '';
    position: absolute;
    top: -3px;
    right: -3px;
    bottom: -3px;
    left: -3px;
    border: 1px solid #ffc722;
}

.more-news a {
    padding: 0 50px;
    background: #ffc722;
    position: relative;
    display: inline-block;
    line-height: 38px;
    font-size: 12px;
    font-weight: bold;
    color: #363533;
    text-transform: uppercase;
    transition: 400ms all;
    -webkit-transition: 400ms all;
}

a {
    transition: 400ms color;
    -webkit-transition: 400ms color;
    outline: none;
    cursor: pointer;
}

.more-news a:hover {
    color: #fff;
    background: #363533;
}

.go-to-article {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 3px 0 25px 0;
    line-height: 22px;
}