<div class="s-news-container">
  <div class="title">
    Friss <span>hírek</span>
  </div>
  <div class="s-article-container">
    <div class="s-news-article a-first">
      <div class="s-news-img">
        <img class="s-img" src="./assets/images/shorts/news1.jpg">
      </div>
      <div class="s-news-info">
        <div class="a-date">
          2017 Május 26.
        </div>
        <div class="a-title">
          Suli Frizbi
        </div>
        <div class="a-text">
          A Szufla újra megrendezte - immár a 4. - Suli Frizbi kupát.
        </div>
        <div class="go-to-article">
          <a routerLink="/article/sulifrizbi4">TOVÁBB ></a>
        </div>
      </div>
    </div>
    <div class="s-news-article a-second">
      <div class="s-news-img">
        <img class="s-img" src="./assets/images/shorts/news2.jpg">
      </div>
      <div class="s-news-info">
        <div class="a-date">
          2017 Június 16.
        </div>
        <div class="a-title">
          SZAUB
        </div>
        <div class="a-text">
          Befejeződött a 3. SZAUB, a tabella végleges.
        </div>
        <div class="go-to-article">
          <a routerLink="/article/szaub3">TOVÁBB ></a>
        </div>
      </div>
    </div>
  </div>
  <div class="more-news">
    <a [routerLink]="['/news/news']">További Hírek</a>
  </div>
</div>