<div class="s-news-container">
  <div class="title">
    Friss <span>hírek</span>
  </div>
  <div class="s-article-container">
    <div class="s-news-article a-first">
      <div class="s-news-img">
        <img class="s-img" src="{{ newsData1.cover }}">
      </div>
      <div class="s-news-info">
        <div class="a-date">
          {{ newsData1.date }}
        </div>
        <div class="a-title">
          {{ newsData1.title }}
        </div>
        <div class="a-text">
          {{ newsData1.description }}
        </div>
        <div class="go-to-article">
          <a routerLink="/article/{{ newsData1.id }}">TOVÁBB ></a>
        </div>
      </div>
    </div>
    <div class="s-news-article a-second">
      <div class="s-news-img">
        <img class="s-img" src="{{ newsData2.cover }}">
      </div>
      <div class="s-news-info">
        <div class="a-date">
            {{ newsData2.date }}
        </div>
        <div class="a-title">
            {{ newsData2.title }}
        </div>
        <div class="a-text">
            {{ newsData2.description }}
        </div>
        <div class="go-to-article">
          <a routerLink="/article/{{ newsData2.id }}">TOVÁBB ></a>
        </div>
      </div>
    </div>
  </div>
  <div class="more-news">
    <a [routerLink]="['/news/news']">További Hírek</a>
  </div>
</div>