<div class="short-szufla-box">
  <div>
    <div class="short-szufla-column-first">
      <div class="va-about-wrap">
        <div class="title">
          Kik <span>vagyunk</span>
        </div>
        <div class="short-team-content">
          <div class="short-team-content-ending"></div>
          <p>A SZUFLA egy igencsak fiatal szerveződésű ultimate (frizbi) csapat Szeged városában.</p>

          <p>Csapatunk 2010 novemberében alakult. A 2011. áprilisában Nyíradonyban szervezett terem OB-n mutatkoztunk be először a "nagyoknak". 2011. májusa óta rendszeres edzéseket tartunk mind teremben, mind nagypályán. Célul tűztük ki, hogy megjelenünk nagypályás versenyeken, ami sikerült is, a 2011-es OB szeptemberi fordulóján már részt vettünk.</p>
        </div>
      </div>
    </div>
    <div class="short-szufla-column-second">
      <div class="va-about-image-wrap">
        <div class="short-team-image"></div>
      </div>
    </div>
  </div>
</div>