<div class="menuTitle">
  SOTG
</div>

<div class="mainContainer">
  <div class="ContentContainer">
    <h1>Spirit of the Game</h1>
    <p>
      Az ultimate játékvezető nélkül játszott sport, melyben a játékosok maguk felelősek a tiszta játékért, a szabályok alkalmazásáért, illetve betartásáért. 
      A sportágat ez a vonás nagyban megkülönbözteti a többi csapatsporttól, ugyanakkor egy komoly feladatot ró a csapatok vezetőire és tagjaira, hiszen ahhoz, 
      hogy a mérkőzések az amatőr meccsektől egészen a legmagasabb szintű összecsapásokig élvezhetőek és sportszerűek legyenek, elengedhetetlen, hogy a 
      játékosok magas szinten ismerjék a szabályokat, és megértsék illetve elsajátítsák az ultimate sport szellemiségét (spirit of the game).
    </p>

    <ul>
      <p>
        Az ultimate szellemisége megköveteli, hogy a játékosok tisztában legyenek azzal, hogy a játék során felmerülő esetleges viták esetén játékvezetői szerepet 
        is be kell tölteniük. Ilyen esetekben a játékosnak:
      </p>

      <li>ismernie kell a szabályokat,</li>
      <li>pártatlannak kell maradnia,</li>
      <li>szavahihetőnek kell lennie,</li>
      <li>törekednie kell arra, hogy véleményét egyértelműen és röviden fogalmazza meg,</li>
      <li>az ellenfél számára lehetőséget kell adnia, hogy kifejezze véleményét,</li>
      <li>törekednie kell arra, hogy a viták a lehető leggyorsabban megoldódjanak,</li>
      <li>hangvételének és szóhasználatának tükröznie kell az ellenfél tiszteletét.</li>
    </ul>

    <p>
      Mint minden sportban, az ultimate esetén is a győzelem a játék célja, így természetes, hogy a mérkőzések esetenként magas hőfokon zajlanak, és intenzív 
      összecsapásokat hoznak. A küzdőszellem azonban soha nem mehet a játékosok kölcsönös tiszteletének, a szabályok betartásának vagy a játék élvezetének rovására.
    </p>

    <ul>
      <p>
        Az alábbi példák a játék szellemiségével összhangban álló viselkedésnek minősülnek:
      </p>

      <li>a játékos felhívja egy csapattársa figyelmét, hogy hibás vagy szükségtelen hívást mondott be, vagy faultot illetve szabálytalanságot követett el;</li>
      <li>a játékos visszavonja a bemondott hívását, ha megítélése szerint az szükségtelen volt;</li>
      <li>az ellenfél által mutatott szép vagy tiszta játék esetén a játékos kifejezi elismerését;</li>
      <li>az ellenfelek bemutatkoznak egymásnak;</li>
      <li>a játékos nyugodtan viselkedik vitás helyzetekben vagy provokáció esetén.</li>
    </ul>

    <ul>
      <p>
        Az alább felsoroltak a játék szellemiségével egyértelműen ellentétben állnak, ezért minden játékosnak törekednie kell ezek elkerülésére:
      </p>

      <li>veszélyes játék és agresszív viselkedés;</li>
      <li>a szabályok szándékos megszegése;</li>
      <li>az ellenfél gúnyolása vagy megfélemlítése;</li>
      <li>az öröm tiszteletlen kifejezése pontszerzés után;</li>
      <li>a játékos azért mond be egy hívást, hogy az ellenfél hívását megtorolja;</li>
      <li>a játékos az ellenfél játékosát becsapva arra kéri, hogy neki passzoljon.</li>
    </ul>

    <p>
      Elsősorban a csapatok felelőssége, hogy a játék szellemiségével összhangban álló viselkedési mintákat átadják és fejlesszék játékosaikban. 
      Ebben a fejlesztési/fejlődési folyamatban lehet segítségünkre a spirit of the game pontozás (SOTG pontozás) rendszere. Ennek révén a csapatok 
      visszajelzést kapnak ellenfeleiktől, hogy a fejlődési folyamatnak mely szakaszán tartanak, és a játék szellemiségének mely területein kell 
      jobban odafigyelniük.
    </p>

    <p>
      A SOTG pontozás rendszerében a csapatok miden mérkőzés után egy pontozólap segítségével értékelik ellenfelüket (a csapat egészét és soha nem az 
      egyéneket) a játék szellemiségének alapvető szempontjai szerint, majd az értékeléseket a verseny szervezői összesítik és továbbítják a csapatok felé.
    </p>

    <p class="source">
      forrás: frizbi.hu
    </p>
  </div>
</div>