<div class="matchWrapper">
  <span class="matchCalendar">
    <span class="matchDay">{{ day }}</span><br/>
    <span class="matchMonth">{{ month }}</span>
  </span>
  <span class="matchInfo">
    <span class="matchTime">{{ time }}</span>
    <span class="matchLocation"><i class="yellow marker icon"></i>{{ location }}</span>
    <span class="matchResultContainer">
      <span class="matchTeam">{{ home }}</span>
      <span class="matchResult">{{ result }}</span>
      <span class="matchTeam">{{ foreign }}</span>
    </span>
  </span>
</div>
