.wrapper {
    width: 25%;
    min-width: 300px;
    float: left;
    padding: 10px 30px;
    text-align: center;
    height: 350px;
    overflow: hidden;
}

.profile {
    overflow: hidden;
    height: 250px;
    position: relative;
    display: inline-block;
}

.profile img {
    height: 95%;
    box-shadow: 0px 5px 10px #aaa;
    border-radius: 10px;
    position: relative;
    top: -120px;
}

.member-info {
    padding: 10px 0 0 0px;
}

.s-member-name {
    margin: 0;
    font-size: 20px;
    text-transform: uppercase;
}

.s-member-position {
    padding: 3px 0 12px 0;
    font-size: 16px;
    color: #919191;
    text-transform: uppercase;
}

.s-member-number {
    width: 120px;
    height: 120px;
    left: -90px;
    padding: 15px 15px 0 0;
    box-sizing: border-box;
    text-align: right;
    background: #363533;
    position: relative;
    font-size: 20px;
    color: #ffc722;
    transform: skew(-33deg);
    -webkit-transform: skew(-33deg);
    transition: cubic-bezier(0.22, 0.61, 0.36, 1) all 600ms;
    -webkit-transition: cubic-bezier(0.22, 0.61, 0.36, 1) all 600ms;
    z-index: 1;
}

.s-member-number-span {
    transform: skew(33deg);
    -webkit-transform: skew(33deg);
    display: block;
}

@media only screen and (max-width: 1350px) {
    .wrapper {
        width: 33%;
        overflow: hidden;
    }
}

@media only screen and (max-width: 1100px) {
    .wrapper {
        width: 33%;
        overflow: hidden;
    }
}

@media only screen and (max-width: 950px) {
    .wrapper {
        width: 50%;
        overflow: hidden;
    }
}

@media only screen and (max-width: 850px) {
    .wrapper {
        min-width: inherit;
        padding: 0px 5px;
        overflow: hidden;
    }

    .s-member-name {
        font-size: 15px;
    }

    .s-member-position {
        font-size: 13px;
    }
}
