<div class="menuTitle">
  DISCover
</div>

<div class="mainContainer">
  <div class="ContentContainer">

    <h1>DISCover</h1>

    <div class="discoverPic">
        <img src="./assets/images/events/discover/discover.jpg">
    </div>
    <p class="description">
      A DISCover egy nemzetközi ultimate frizbi torna, melyen főleg magyar és Magyarország körüli csapatok vesznek részt. Ez a 
      rendezvény 2016-ban indult a Grand Slam Beyond Borders hasonló verseny folytatásaként.
    </p>

    <p class="description">
      A nagypályás kiírásban minden csapat megküzd a többiekkel 7 a 7 elleni feállásban. A győztes az lesz, aki a legtöbb 
      mérkőzést képes megnyerni, ezáltal a legtöbb pontot szerezve.
    </p>

    <p class="description">
      2016-ban 5 csapat vett jelet meg, köztük szerbek, bosnyákok és ameriaki csapat is. 
    </p>
  </div>
</div>