.short-szufla-box {
    height: 50vh;
    background-color: #ffc722;
    overflow: hidden;
}

.short-szufla-box:before {
    content: ' ';
    display: block;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.2;
    background: url('../../../assets/images/shorts/short-szufla-background.jpg') 50% 50%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

.short-szufla-column-first {
    width: 50%;
    float: left;
    height: 1px;
}

.short-szufla-column-second {
    width: 50%;
    float: left;
    height: 0px;
}

.short-szufla-box:after {
    content: '';
    position: relative;
    opacity: 0.95;
    left: 50%;
    top: -100%;
    z-index: 0;
    -webkit-transform: skew(-33deg);
    transform: skew(-33deg);
    display: block;
    background: #363533;
    height: 50vh;
    width: 120vw;
}

.va-about-image-wrap {
    display: table-cell;
    vertical-align: middle;
    text-align: -webkit-center;
    width: 102vh;
    height: 50vh;
}

.title {
    position: relative;
    top: -45vh;
    left: 30%;
    max-width: 75%;
    

    font-size: 3vmax;
    text-transform: uppercase;
    line-height: 91px;
    display: inline;
}

.title span {
    color: whitesmoke;
}

.short-team-content {
    position: relative;
    top: -45vh;
    left: 30%;
    max-width: 60%;
    font-size: 1.1vmax;
}

.short-team-content-ending{
    shape-outside: polygon(35vh 0vh, 12vh 35vh, 35vh 27vh);
    width: 27vh;
    height: 35vh;
    float: right;
}

.short-team-image {
    background-image: url("../../../assets/images/shorts/short-szufla-background.jpg");
    display: flex;
    width: 33vmax;
    height: 19vmax;
    background-size: cover;
    position: relative;
    top: -50vh;
    border-radius: 10px;
    box-shadow: 8px 8px 10px #555;
    z-index: 1;
}