<div class="menuTitle">
  Suli Frizbi
</div>

<div class="mainContainer">
  <div class="ContentContainer">

    <h1>Suli Frizbi Program</h1>

    <div class="suliFrizbiPic">
        <img src="./assets/images/news/sulifrizbi.jpg">
    </div>
    <p class="description">
      A Suli Frizbi program az Ultimate Frizbi sportág ismertetésére és népszerűsítésére létrehozott kezdeményezés a közoktatási intézmények 
      részére, melyet az UTC Ultimate Frizbi Szakosztálya működtet Szegeden. A program további célja, hogy a mindennapos testnevelés órákon 
      találkozhassanank a tanulók ezzel a sporttal is.
    </p>

    <p class="description">
      A program 2015-ben indult - 4 iskolával - és jelenleg már több, mint 10 tagintézményben zajlott képzés. A képzés során oktatók mutatják 
      be és tanítják meg az alapokat a diákoknak, valamint a tanároknak.
    </p>

    <p class="description">
      A program végén a jelentkezett oktatási intézmények legalább 1 csapatot neveznek a záró tornára - a Suli Frizbi Kupára - ahol 
      megmérkőznek egymással, a győztes megkapja 1 évre a vándorserleget, továbbá az első három helyezett csapat oklevél kiosztásban részesül.
    </p>

    <p class="description">
      2017-ben már általános iskolások számára is elérhetővé vált a programban, és a záró kupán, való részvétel.
    </p>

    <ul>
      <p class="description">
        A programban ezeddig részt vevő intézmények:
      </p>

      <li>Dugonics András Piarista Gimnázium</li>
      <li>Fodor József Élelmiszeripari Szakképző Iskola</li>
      <li>Karolina Óvoda, Általános Iskola, Gimnázium, Alapfokú Művészeti Iskola és Kollégium</li>
      <li>Szeged és Térsége Eötvös József Gimnázium</li>
      <li>Szegedi Móravárosi Ipari Szakképző és Általános Iskola</li>
      <li>Szegedi Kőrösy József Gazdasági Szakképző Iskola</li>
      <li>Szegedi Szakképzési Centrum Déri Mika Szakképző Iskolája</li>
      <li>SZTE Juhász Gyula Gyakorló Általános és Alapfokú Művészeti Iskolája</li>
      <li>Tisza-parti Általános Iskola</li>
      <li>Tömörkényi István Gimnázium és Művészeti Szakközépiskola</li>
    </ul>

  </div>
</div>