<app-header-menu></app-header-menu>
<div class="menuTitle">
  Hírek
</div>

<div class="container">
  <table  id="myTable" class="ui yellow table">
    <thead>
      <tr>
        <th>Cím</th>
        <th>Leírás</th>
        <th>Dátum</th>
        <th>Akció</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let item of news">
        <tr>
          <td>{{ item.title }}</td>
          <td>{{ item.description }}</td>
          <td>{{ item.date }}</td>
          <td>
            <a [routerLink]="['/admin/newsEditor/' + item.id]"><button class="mini ui secondary basic button">Szerkeszt</button></a>
            <button class="mini ui negative basic button" (click)="removeNews( item.id )">Töröl</button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>

  <a [routerLink]="['/admin/newsEditor/0']">
    <button class="ui primary button">
      Új
    </button>
  </a>
</div>