<div class="ui inverted segment">
  <h4 class="ui large yellow inverted header">
    <img class="ui image" src="assets/images/news/editor.png">
    <div class="content">
      Hírszerkesztő
    </div>
  </h4>
</div>

<div class="ui divided selection list">
  <div class="item">
    <div class="ui red horizontal label">ID</div>
    <div class="ui horizontal label">{{ newsID }}</div>
  </div>
  <a class="item">
    <div class="ui purple horizontal label">Cím</div>
    <div class="ui input">
      <input [(ngModel)]="newsTitle" placeholder="Cím..." >
    </div>
  </a>
  <a class="item">
    <div class="ui purple horizontal label">Leírás</div>
    <div class="ui input" style="width: 90%;">
      <input type="text" [(ngModel)]="newsDescription" placeholder="Leírás...">
    </div>
  </a>
  <a class="item">
    <div class="ui purple horizontal label">Tartalom</div><br/><br/>
    <div [froalaEditor]="options" [(froalaModel)]="newsContent"></div>
  </a>
</div>

<div class="ui buttons margins">
  <button class="ui positive button" (click)="saveNews()">Mentés</button>
  <div class="or"></div>
  <a [routerLink]="['/newsList']"><button class="ui button">Vissza</button></a>
</div>