<div id="wrapper">
    <ul id="nav">
        <li><a class="hsubs sliding-u-l-r" href="#">Hírek</a></li>
        <li><a class="hsubs sliding-u-l-r" href="#">Edzés</a>
            <ul class="subs">
                <li><a class="sliding-u-l-r" href="#">Szabadtéri</a></li>
                <li><a class="sliding-u-l-r" href="#">Terem</a></li>
            </ul>
        </li>
        <li><a class="hsubs sliding-u-l-r" href="#">Csapat</a>
            <ul class="subs">
                <li><a class="sliding-u-l-r" href="#">Szervezők</a></li>
                <li><a class="sliding-u-l-r" href="#">Játékosok</a></li>
            </ul>
        </li>
        <li><a class="hsubs sliding-u-l-r" href="#">Ultimate</a>
            <ul class="subs">
                <li><a class="sliding-u-l-r" href="#">Ultimate Frizbi</a></li>
                <li><a class="sliding-u-l-r" href="#">Szupi Kupa</a></li>
                <li><a class="sliding-u-l-r" href="#">Suli Frizbi</a></li>
                <li><a class="sliding-u-l-r" href="#">SZAUB</a></li>
                <li><a class="sliding-u-l-r" href="#">DiscOver</a></li>
                <li><a class="sliding-u-l-r" href="#">Versenyek</a></li>
            </ul>
        </li>
        <li><a class="hsubs sliding-u-l-r" href="#">Kapcsolat</a></li>
    </ul>
<div>