<div id="wrapper">
    <ul id="nav">
        <li><a class="hsubs sliding-u-l-r" [routerLink]="['/news/news']" [routerLinkActive]="['active']">Média</a>
            <ul class="subs">
                <li><a class="sliding-u-l-r" [routerLink]="['/news/news']" [routerLinkActive]="['active']">Hírek</a></li>
                <li><a class="sliding-u-l-r not-written-yet" [routerLink]="['/news/newsAboutUs']" [routerLinkActive]="['active']">Rólunk Írták</a></li>
            </ul>
        </li>
        <li><a class="hsubs sliding-u-l-r" [routerLink]="['/practices/outdoorPractice']">Edzés</a>
            <ul class="subs">
                <li><a class="sliding-u-l-r" [routerLink]="['/practices/outdoorPractice']" [routerLinkActive]="['active']">Szabadtéri</a></li>
                <li><a class="sliding-u-l-r" [routerLink]="['/practices/indoorPractice']" [routerLinkActive]="['active']">Terem</a></li>
            </ul>
        </li>
        <li><a class="hsubs sliding-u-l-r" [routerLink]="['/members/players']">Csapat</a>
            <ul class="subs">
                <li><a class="sliding-u-l-r" [routerLink]="['/members/managers']" [routerLinkActive]="['active']">Szervezők</a></li>
                <li><a class="sliding-u-l-r" [routerLink]="['/members/players']" [routerLinkActive]="['active']">Játékosok</a></li>
                <li><a class="sliding-u-l-r" [routerLink]="['/members/members']" [routerLinkActive]="['active']">Passzív Tagok</a></li>
            </ul>
        </li>
        <li><a class="hsubs sliding-u-l-r"  [routerLink]="['/calendar']" [routerLinkActive]="['active']">Versenynaptár</a></li>
        <li><a class="hsubs sliding-u-l-r"  [routerLink]="['/events/szupi']" [routerLinkActive]="['active']">Rendezvényeink</a>
            <ul class="subs">
                <li><a class="sliding-u-l-r" [routerLink]="['/events/szupi']" [routerLinkActive]="['active']">Szupi Kupa</a></li>
                <li><a class="sliding-u-l-r not-written-yet" [routerLink]="['/events/sulifrizbi']" [routerLinkActive]="['active']">Suli Frizbi</a></li>
                <li><a class="sliding-u-l-r not-written-yet" [routerLink]="['/events/szaub']" [routerLinkActive]="['active']">SZAUB</a></li>
                <li><a class="sliding-u-l-r" [routerLink]="['/events/discover']" [routerLinkActive]="['active']">DiscOver</a></li>
            </ul>
        </li>
        <li><a class="hsubs sliding-u-l-r"  [routerLink]="['/ultimate/ultimate']" [routerLinkActive]="['active']">Ultimate</a>
            <ul class="subs">
                <li><a class="sliding-u-l-r" [routerLink]="['/ultimate/ultimate']" [routerLinkActive]="['active']">Mi az Ultimate Frizbi?</a></li>
                <li><a class="sliding-u-l-r" [routerLink]="['/ultimate/sotg']" [routerLinkActive]="['active']">SOTG</a></li>
                <li><a class="sliding-u-l-r not-written-yet" [routerLink]="['/ultimate/knowledge']" [routerLinkActive]="['active']">Tudástár</a></li>
                <li><a class="sliding-u-l-r" [routerLink]="['/ultimate/links']" [routerLinkActive]="['active']">Linktár</a></li>
                <li><a class="sliding-u-l-r not-written-yet" [routerLink]="['/ultimate/training']" [routerLinkActive]="['active']">Oktató Anyagok</a></li>
                <li><a class="sliding-u-l-r not-written-yet" [routerLink]="['/ultimate/ultiquiz']" [routerLinkActive]="['active']">UltiQuiz</a></li>
            </ul>
        </li>
        <li><a class="hsubs sliding-u-l-r"  [routerLink]="['/contact']" [routerLinkActive]="['active']">Kapcsolat</a></li>
    </ul>
<div>