<div id="wrapper">
    <ul id="nav">
        <li><a class="hsubs sliding-u-l-r" [routerLink]="['/news']" [routerLinkActive]="['active']">Hírek</a></li>
        <li><a class="hsubs sliding-u-l-r" [routerLink]="['/practices/outdoorPractice']">Edzés</a>
            <ul class="subs">
                <li><a class="sliding-u-l-r" [routerLink]="['/practices/outdoorPractice']" [routerLinkActive]="['active']">Szabadtéri</a></li>
                <li><a class="sliding-u-l-r" [routerLink]="['/practices/indoorPractice']" [routerLinkActive]="['active']">Terem</a></li>
            </ul>
        </li>
        <li><a class="hsubs sliding-u-l-r" [routerLink]="['/members/players']">Csapat</a>
            <ul class="subs">
                <li><a class="sliding-u-l-r" [routerLink]="['/members/managers']" [routerLinkActive]="['active']">Szervezők</a></li>
                <li><a class="sliding-u-l-r" [routerLink]="['/members/players']" [routerLinkActive]="['active']">Játékosok</a></li>
            </ul>
        </li>
        <li><a class="hsubs sliding-u-l-r"  [routerLink]="['/ultimate/ultimate']" [routerLinkActive]="['active']">Ultimate</a>
            <ul class="subs">
                <li><a class="sliding-u-l-r" [routerLink]="['/ultimate/ultimate']" [routerLinkActive]="['active']">Ultimate Frizbi</a></li>
                <li><a class="sliding-u-l-r" [routerLink]="['/ultimate/szupi']" [routerLinkActive]="['active']">Szupi Kupa</a></li>
                <li><a class="sliding-u-l-r" [routerLink]="['/ultimate/sulifrizbi']" [routerLinkActive]="['active']">Suli Frizbi</a></li>
                <li><a class="sliding-u-l-r" [routerLink]="['/ultimate/szaub']" [routerLinkActive]="['active']">SZAUB</a></li>
                <li><a class="sliding-u-l-r" [routerLink]="['/ultimate/discover']" [routerLinkActive]="['active']">DiscOver</a></li>
                <li><a class="sliding-u-l-r" [routerLink]="['/ultimate/versenyek']" [routerLinkActive]="['active']">Versenyek</a></li>
            </ul>
        </li>
        <li><a class="hsubs sliding-u-l-r"  [routerLink]="['/contact']" [routerLinkActive]="['active']">Kapcsolat</a></li>
    </ul>
<div>