.practiceFrame {
    width: 100%;
    font-size: 1.5em;
    line-height: 1.5em;
}

.practiceForWho {
    max-width: 1050px;
    margin: 0em auto 5em;
    display: table;
}

.card {
    width: 33%;
    float: left;
    border: none;
}

.cardContent {
    max-width: 300px;
    margin: auto;
    text-align: center;
}

.img-icons {
    width: 10em;
    padding: 4em 2em 1em;
}

.practiceMap {
    display: block;
}

agm-map {
  height: 70vh;
}

.practiceInfo {
    width: 100%;
    background-color: black;
    padding: 2em 1em;
}

.practiceDetailsContainer {
    width:100%;
    border:1px solid black;
    padding-right:300px;
    max-width: 1100px;
    margin: auto;
    display: flex;
}

.practiceDetails {
    width:100%;
    float:left;
    color: white;
    border: 2px solid #ffc722;
    padding: 1em;
    margin-right: 2em;
}

.practicePromo {
    width:300px;
    background-color: #ffc722;
    float:right;
    margin-right:-300px;
    text-align: center;
    padding: 1em;
}

.trainingInfo {
    width: 75%;
    float: left;
    color: #ffc722;
}

.trainersPic {
    overflow: hidden;
    width: 25%;
    float: right;
}

.trainersPic img {
    max-width: 10em;
}

.trainingText {
    display: block;
}

.practiceDetailsParts {
    padding-left: 2em;
    line-height: 1.7em;
}

.bold {
    font-weight: bold;
}

.white {
    color: white;
}

.upper {
    text-transform: uppercase;
}

.practicePromo img {
    width: 50%;
}

/* vertical menu */
@media only screen and (max-width: 850px) {
    .practiceFrame {
        width: 100%;
        font-size: 1em;
        line-height: 1.5em;
    }

    .img-icons {
        width: 100%;
        padding: 2em 1.5em 1em;
    }

    .practiceInfo {
        width: 100%;
        background-color: black;
        padding: 0.5em;
    }

    .practiceDetails {
        width:100%;
        float:none;
        color: white;
        border: 2px solid #ffc722;
        padding: 1em;
        height: 17em;
        margin-bottom: 0.5em;
    }
    
    .practiceDetailsContainer {
        width:100%;
        border:1px solid black;
        padding-right:0px;
        max-width: 100%;
        margin: auto;
        display: block;
    }

    .trainingInfo {
        width: 60%;
        float: left;
        color: #ffc722;
        font-size: 18px;
    }

    .practiceDetailsParts {
        padding-left: 0em;
        line-height: 1.7em;
    }

    .trainersPic {
        overflow: hidden;
        width: 40%;
        float: right;
    }

    .practicePromo {
        width: 100%;
        background-color: #ffc722;
        float:none;
        text-align: center;
        padding: 1em;
        margin-bottom: 1em;
    }

    .practicePromo img {
        width: 30%;
    }
}

@media only screen and (max-width: 450px) {
    .trainingInfo {
        font-size: 13px;
    }
}


@media only screen and (max-width: 350px) {
    .trainingInfo {
        font-size: 12px;
    }
}

.ui.message, .ui.message:first-child {
    margin: 1em;
}

h2.ui.header {
    margin-left: 1em;
    margin-top: 1em;
}