<div class="menuTitle">
  Terem Edzések
</div>

<div class="practiceFrame">
  <div class="practiceForWho">
    <div class="card">
      <div class="cardContent">
        <div class="image">
          <img class="img-icons" src="./assets/images/practice/forWhoAge.jpg">
        </div>
        <div class="content">
          <div class="description">
            6 és 60 éves kor között bárkinek ajánlott minimális kezdeti kondícióval.
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="cardContent">
        <div class="image">
          <img class="img-icons" src="./assets/images/practice/forWhoGroup.jpg">
        </div>
        <div class="content">
          <div class="description">
            Oktatás létszámtól függően, akár több csoportban.
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="cardContent">
        <div class="image">
          <img class="img-icons" src="./assets/images/practice/forWhoSuit.jpg">
        </div>
        <div class="content">
          <div class="description">
            <div>Ajánlott öltözet:</div>
            <div>terem cipő, kényelmes rövidnadrág és póló.</div>
            <div>hidegebb időben aláöltözék és hosszú</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="practiceMap">
    <div>
      <agm-map [latitude]="lat1" [longitude]="lng2" [zoom]="zoom" [scrollwheel]=false>
        <agm-marker [latitude]="lat1" [longitude]="lng1"></agm-marker>
        <agm-marker [latitude]="lat2" [longitude]="lng2"></agm-marker>
      </agm-map>
    </div>
  </div>

  <div class="practiceInfo">
    <div class="practiceDetailsContainer">
      <div class="practiceDetails">
        <div class="trainingInfo">
          <span class="trainingText"><span class="bold white">Szeged</span></span>
          <div class="practiceDetailsParts">
            <span class="trainingText"><span class="bold white">Etelka Sor 3.</span></span>
            <span class="trainingText"><span class="bold white">Etelka Sori Sportcsarnok</span></span>
            <br/>
            <span class="trainingText"><span class="bold white">Edző:</span> Daruka Lejla</span>
            <span class="trainingText"><span class="bold white">Segédedző:</span> Rózsa Tibor</span>
            <span class="trainingText"><span class="bold white">Hétfő:</span> 20:30 - 21:45</span>
          </div>
        </div>
        <div class="trainersPic">
          <img src="./assets/images/practice/trainerDL.jpg">
        </div>
      </div>
    </div>
  </div>

  <div class="practiceInfo">
    <div class="practiceDetailsContainer">
      <div class="practiceDetails">
        <div class="trainingInfo">
          <span class="trainingText"><span class="bold white">Szeged</span></span>
          <div class="practiceDetailsParts">
            <span class="trainingText"><span class="bold white">Bálint Sándor u. 14.</span></span>
            <span class="trainingText"><span class="bold white">Piarista Gimnázium Sportcsarnok</span></span>
            <br/>
            <span class="trainingText"><span class="bold white">Edző:</span> Daruka Lejla</span>
            <span class="trainingText"><span class="bold white">Segédedző:</span> Rózsa Tibor</span>
            <span class="trainingText"><span class="bold white">Péntek:</span> 19:30 - 20:30</span>
          </div>
        </div>
        <div class="trainersPic">
          <img src="./assets/images/practice/trainerDL.jpg">
        </div>
      </div>
      <div class="practicePromo">
        <img src="./assets/images/practice/present.png">
        <div class="bold upper">Ingyenes Próbaedzés</div>
        <div>Próbáld ki az egyik edzéshelyszínen az 1 hónapos, INGYENES PRÓBAEDZÉSÜNKET!</div>
      </div>
    </div>
  </div>
</div>