.wrapper {
    width: 25%;
    float: left;
    padding: 10px 30px;
    text-align: center;
}

.profile {
    overflow: hidden;
    height: 250px;
    position: relative;
    display: inline-block;
}

.profile img {
    height: 95%;
    box-shadow: 0px 5px 10px #aaa;
    border-radius: 10px;
    position: relative;
}

.manager-info {
    padding: 9px 0 0 14px;
    border: solid #f5f5f5;
    border-width: 0 1px 1px 1px;
    background: #fff;
}

.s-manager-name {
    margin: 0;
    font-size: 20px;
    text-transform: uppercase;
}

.s-manager-position {
    padding: 3px 0 12px 0;
    font-size: 16px;
    color: #919191;
    text-transform: uppercase;
}

.s-manager-number {
    width: 120px;
    height: 120px;
    left: -90px;
    padding: 15px 15px 0 0;
    box-sizing: border-box;
    text-align: right;
    background: #363533;
    position: relative;
    font-size: 20px;
    color: #ffc722;
    transform: skew(-33deg);
    -webkit-transform: skew(-33deg);
    transition: cubic-bezier(0.22, 0.61, 0.36, 1) all 600ms;
    -webkit-transition: cubic-bezier(0.22, 0.61, 0.36, 1) all 600ms;
    z-index: 2;
}

.s-manager-number-span {
    transform: skew(33deg);
    -webkit-transform: skew(33deg);
    display: block;
}