<div class="menuTitle">
  Linktár
</div>

<div class="mainContainer">
  <div class="ContentContainer">
    <h1>Szervezetek</h1>
    <div class="itemWrapper">
      <app-link-item name="Magyar Frizbi Szövetség" img_src="mfsz"></app-link-item>
      <app-link-item name="Újszegedi Torna Club" img_src="utc"></app-link-item>
      <app-link-item name="World Flying Disc Federation" img_src="wfdf"></app-link-item>
    </div>

    <h1>Csapatok</h1>
    <div class="itemWrapper">
      <app-link-item name="Fehérvár Lionz" img_src="lionz"></app-link-item>
      <app-link-item name="LOL" img_src="lol"></app-link-item>
      <app-link-item name="Freebees" img_src="freebees"></app-link-item>
      <app-link-item name="Hallodigaz-e" img_src="hallod"></app-link-item>
    </div>
  </div>
</div>