<app-header-menu></app-header-menu>
<div class="menuTitle">
  Kapcsolat
</div>
<div class="contactData">
  <h2 class="ui center aligned icon header">
    <table class="tableContactInfo">
      <tr>
        <td class="tableContactLogo">
          <img class="contactLogo" src="./assets/images/szufla_logo.jpg">
        </td>
        <td class="tableTeamDetails">
          <div class="teamName">
            <span>A</span>
            Szufla Ultimate Team
            <span>hivatalos weboldala</span>
          </div>
          <div class="officialContacts">
            <div>
              <div class="email"><i class="mail icon"></i>ultimateszufla@gmail.com</div>
              <div><a href="http://www.facebook.com/UltimateSzufla"><i class="facebook icon facebookLink"></i></a>www.facebook.com/UltimateSzufla</div>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </h2>
</div>