.contactData {
    max-width: 1000px;
    margin: 0 auto;
    width: 80%;
    margin-top: 2em;
}

.contactLogo {
    max-width: 300px;
    float: left;
}

.teamName {
    font-size: 2em;
    padding: 0.6em;
    line-height: normal;
}

.teamName span {
    display: block;
    text-decoration: none;
    font-size: 12px;
    font-weight: 300;
}

.tableContactInfo {
    width: 100%;
}

.tableContactLogo {
    width: 33%;
}

.officialContacts {
    font-size: 15px;
}

.ui.icon.header .icon {
    font-size: 20px;
    width: 4%;
}

.email {
    margin-bottom: 1em;
}

a {
    color: black;
    cursor: pointer;
}

.facebookLink:hover {
    color: #ffc722;
}

/* vertical menu */
@media only screen and (max-width: 850px) {
    .tableContactLogo {
        width: 80%;
        position: absolute;
    }

    .tableTeamDetails {
            top: 35vw;
            position: relative;
            padding-bottom: 1em;
    }
    
    .teamName {
        font-size: 2em;
        margin-top: 0.5em;
    }

    .contactLogo {
        max-width: 100%;
        float: none;
        width: 60%;
    }
}

.contactData:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 15em;
    width: 100%;
    height: 88vh;
    z-index: -1;
    opacity: 0.05;
    background: url('https://www.discace.com/frisbees/frisbee-discs/discace/disc-ace-wall1.jpg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}