<div class="menuTitle">
  Játékosok
</div>

<div class="s-members-container">
    <div class="s-members">
      <app-short-members-data name="Bató Ildikó" position="cutter" number="18" img_src="bi"></app-short-members-data>
      <app-short-members-data name="Borbély Zoltán" position="cutter" number="13" img_src="zoli"></app-short-members-data>
      <app-short-members-data name="Boross Gábor" position="handler, cutter" number="24" img_src="boross"></app-short-members-data>
      <app-short-members-data name="Borszukovszki Anita" position="cutter" number="55" img_src="nita"></app-short-members-data>
      <app-short-members-data name="Csiszár Tímea" position="handler" number="5" img_src="titi"></app-short-members-data>
      <app-short-members-data name="Daruka Lejla" position="cutter" number="26" img_src="lejla"></app-short-members-data>
      <app-short-members-data name="Griecs Péter" position="handler" number="42" img_src="petor"></app-short-members-data>
      <app-short-members-data name="Incze Anna" position="cutter" number="36" img_src="anna"></app-short-members-data>
      <app-short-members-data name="Kádas Attila" position="handler" number="23" img_src="kadi"></app-short-members-data>
      <app-short-members-data name="Keszi-Petik János" position="handler" number="2" img_src="jani"></app-short-members-data>
      <app-short-members-data name="Király Enikő" position="handler" number="6" img_src="kiraly"></app-short-members-data>
      <app-short-members-data name="Kucsora Róbert" position="handler" number="57" img_src="kucsi"></app-short-members-data>
      <app-short-members-data name="Mihály Balázs Krisztián" position="cutter" number="54" img_src="mihu"></app-short-members-data>
      <app-short-members-data name="Pajer Viktor" position="handler" number="7" img_src="vicctor"></app-short-members-data>
      <app-short-members-data name="Pajer-Boross Dóra" position="handler" number="17" img_src="dori"></app-short-members-data>
      <app-short-members-data name="Pál Ferenc" position="cutter" number="19" img_src="feri"></app-short-members-data>
      <app-short-members-data name="Papp Henrietta" position="cutter" number="12" img_src="heni"></app-short-members-data>
      <app-short-members-data name="Rózsa Tibor" position="handler" number="8" img_src="rozsa"></app-short-members-data>
      <app-short-members-data name="Sándor Dániel" position="handler" number="11" img_src="dani"></app-short-members-data>
      <app-short-members-data name="Tereh Tamás" position="cutter" number="74" img_src="tomi"></app-short-members-data>
      <app-short-members-data name="Terjéki László Dénes" position="cutter" number="4" img_src="denes"></app-short-members-data>
      <app-short-members-data name="Ördög Pongrác" position="cutter" number="?" img_src="pongrac"></app-short-members-data>
      <app-short-members-data name="Nagy Csaba" position="cutter" number="1" img_src="lordos"></app-short-members-data>
    </div>
</div>