<div class="menuTitle">
  Szabadtéri Edzések
</div>

<div class="practiceFrame">
  <h2 class="ui header">
    Szabadtéri Edzés Időszak
    <div class="sub header">
      A szabadtéri edzések november elejétől április végéig zajlanak.
    </div>
  </h2>

  <div class="practiceForWho">
    <div class="card">
      <div class="cardContent">
        <div class="image">
          <img class="img-icons" src="./assets/images/practice/forWhoAge.jpg">
        </div>
        <div class="content">
          <div class="description">
            6 és 60 éves kor között bárkinek ajánlott minimális kezdeti kondícióval.
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="cardContent">
        <div class="image">
          <img class="img-icons" src="./assets/images/practice/forWhoGroup.jpg">
        </div>
        <div class="content">
          <div class="description">
            Oktatás létszámtól függően, akár több csoportban.
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="cardContent">
        <div class="image">
          <img class="img-icons" src="./assets/images/practice/forWhoSuit.jpg">
        </div>
        <div class="content">
          <div class="description">
            <div>Ajánlott öltözet:</div>stoplis cipő, kényelmes rövidnadrág és póló.
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="practiceMap">
    <div>
      <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [scrollwheel]=false>
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
      </agm-map>
    </div>
  </div>

  <div class="practiceInfo">
    <div class="practiceDetailsContainer">
      <div class="practiceDetails">
        <div class="trainingInfo">
          <span class="trainingText"><span class="bold white">Szeged</span></span>
          <div class="practiceDetailsParts">
            <span class="trainingText"><span class="bold white">Kertész utca 3.</span></span>
            <span class="trainingText"><span class="bold white">Sportpálya</span></span>
            <br/>
            <span class="trainingText"><span class="bold white">Edző:</span> Rózsa Tibor</span>
            <span class="trainingText"><span class="bold white">Segédedzők:</span> -</span>
            <span class="trainingText"><span class="bold white">Hétfő, Szerda:</span> 18:00 - 20:00</span>
          </div>
        </div>
        <div class="trainersPic">
          <img src="./assets/images/practice/trainerRT.jpg">
        </div>
      </div>
      <div class="practicePromo">
        <img src="./assets/images/practice/present.png">
        <div class="bold upper">Ingyenes Próbaedzés</div>
        <div>Próbáld ki az egyik edzéshelyszínen az 1 hónapos, INGYENES PRÓBAEDZÉSÜNKET!</div>
      </div>
    </div>
  </div>
</div>