.menuTitle {
    position: absolute;
    top: 7.7em;
    color: black;
    width: 76%;
    right: 0px;
    padding: 0.5em;
    z-index: 0;
    text-transform: uppercase;
    font-size: 22px;
}

.menuTitle:before {
    content: '';
    background: #ffc722;
    transform: skew(-33deg);
    -webkit-transform: skew(-33deg);
    position: absolute;
    left: -25px;
    top: 0;
    bottom: 0;
    width: 150%;
    z-index: -1;
}