<ul>
  <li><a>Hírek</a></li>
  <li><a>Edzés</a>
    <ul>
      <li><a>Szabadtéri</a></li>
      <li><a>Terem</a></li>
    </ul>
  </li>
  <li><a>Csapat</a>
    <ul>
      <li><a>Szervezők</a></li>
      <li><a>Játékosok</a></li>
    </ul>
  </li>
  <li><a>Ultimate</a>
    <ul>
      <li><a>Ultimate Frizi</a></li>
      <li><a>Szupi Kupa</a></li>
      <li><a>Suli Frizbi</a></li>
      <li><a>SZAUB</a></li>
      <li><a>DiscOver</a></li>
      <li><a>Versenyek</a></li>
    </ul>
  </li>
  <li><a>Kapcsolat</a></li>
</ul>

<div id="team">
  <span id="teamName">SZUFLA</span>
  <span id="teamType">ULTIMATE TEAM</span>
</div>