<div id="cont" class="ui items">
  <div class="ui item">
    <div class="image">
      <img src="{{ cover }}">
    </div>
    <div class="content">
      <a class="ui header">{{ title }}</a>
      <div class="ui meta">
        <span class="ui cinema">{{ date }}</span>
      </div>
      <div class="ui description">
        <p>{{ description }}</p>
      </div>
      <div class="ui extra">
        <div class="ui right floated yellow button">
          <a [routerLink]="['/article/' + id]">Tovább ></a>
        </div>
      </div>
    </div>
  </div>
</div>