<div class="article-wrapper">
  <div class="article-image-wrapper">
    <a href="#">
      <img class="article-image" src="./assets/images/shorts/{{ cover }}.jpg">
    </a>
  </div>
  <div class="article-content-wrapper">
    <div class="article-date">
      {{ date }}
    </div>
    <div class="article-title">
      {{ title }}
    </div>
    <div class="article-description">
      {{ description }}
    </div>
  </div>
  <div class="article-read">
    <a class="article-read-button" routerLink="/article/{{id}}">Tovább ></a>
  </div>
</div>