.article-wrapper {
    width: 275px;
    height: 500px;
    float: left;
    margin: 25px;
    border: 1px solid #e9e9e9;
}

.article-image {
    width: 100%;
}

.article-image-wrapper {
    height: 200px;
    overflow: hidden;
}

.article-content-wrapper {
    height: 265px;
    padding: 0px 20px;
}

.article-date {
    padding: 22px 0 0;
    font-size: 10px;
    color: #a4a4a4;
    font-weight: 500;
    text-align: center;
}

.article-title {
    font-size: 18px;
    text-transform: uppercase;
    line-height: 22px;
    height: 50px;
    text-align: center;
}

.article-description {
    font-size: 15px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0 0 20px 0;
    text-align: justify;
}

.article-read {
    height: 35px;
    background-color: #363533;
    overflow: hidden;
}

.article-read:before {
    content: '';
    position: relative;
    opacity: 0.85;
    left: 50%;
    z-index: 0;
    -webkit-transform: skew(-33deg);
    transform: skew(-33deg);
    display: block;
    background: #ffc722;
    height: 35px;
}

.article-read-button {
    position: relative;
    top: -36px;
    left: 175px;
    line-height: 38px;
    font-size: 14px;
    font-weight: bold;
    color: #363533;
    text-transform: uppercase;
    transition: all 0.2s;
}

.article-read-button:hover {
    color: white;
}