/*

.article-wrapper {
    width: 275px;
    height: 500px;
    float: left;
    margin: 25px;
    border: 1px solid #e9e9e9;
}

.article-image {
    width: 100%;
}

.article-image-wrapper {
    height: 200px;
    overflow: hidden;
}

.article-content-wrapper {
    height: 265px;
    padding: 0px 20px;
}

.article-date {
    padding: 22px 0 0;
    font-size: 10px;
    color: #a4a4a4;
    font-weight: 500;
    text-align: center;
}

.article-title {
    font-size: 18px;
    text-transform: uppercase;
    line-height: 22px;
    height: 50px;
    text-align: center;
}

.article-description {
    font-size: 15px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0 0 20px 0;
    text-align: justify;
}

.article-read {
    height: 35px;
    background-color: #363533;
    overflow: hidden;
}

.article-read:before {
    content: '';
    position: relative;
    opacity: 0.85;
    left: 50%;
    z-index: 0;
    -webkit-transform: skew(-33deg);
    transform: skew(-33deg);
    display: block;
    background: #ffc722;
    height: 35px;
}

.article-read-button {
    position: relative;
    top: -36px;
    left: 175px;
    line-height: 38px;
    font-size: 14px;
    font-weight: bold;
    color: #363533;
    text-transform: uppercase;
    transition: all 0.2s;
}

.article-read-button:hover {
    color: white;
}
*/
/* vertical menu */
/*
@media only screen and (max-width: 850px) {
    .article-wrapper {
        width: 95%;
        height: 255px;
        float: none;
        margin: 10px auto;
        border: 1px solid #e9e9e9;
    }

    .article-image-wrapper {
        height: 100%;
        overflow: hidden;
        width: 50%;
        float: left;
    }

    .article-content-wrapper {
        height: 265px;
        padding: 0px 20px;
        width: 50%;
        float: left;
    }
    
    .article-read {
        height: 35px;
        background-color: #363533;
        overflow: hidden;
        position: relative;
        bottom: 47px;
        right: 0px;
        width: 100%;
    }

    .article-read-button {
        left: 67%;
    }

    .article-description {
        text-align: center;
    }
}

*/


.ui.divided.items>.item:first-child {
    border-top: none;
    margin-top: 0!important;
    padding-top: 0!important;
}
.ui.divided.items>.item {
    border-top: 1px solid rgba(34,36,38,.15);
    margin: 0;
    padding: 1em 0;
}
.ui.items>.item:first-child {
    margin-top: 0;
}
.ui.items>.item {
    font-size: 1em;
}
.ui.items>.item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 1em 0;
    width: 100%;
    min-height: 0;
    background: 0 0;
    padding: 0;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: -webkit-box-shadow .1s ease;
    transition: -webkit-box-shadow .1s ease;
    transition: box-shadow .1s ease;
    transition: box-shadow .1s ease,-webkit-box-shadow .1s ease;
    z-index: '';
}
*, :after, :before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
.ui.items>.item>.image:not(.ui) {
    width: 175px;
}
.ui.items>.item>.image {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    display: block;
    float: none;
    margin: 0;
    padding: 0;
    max-height: '';
    -ms-flex-item-align: top;
    align-self: top;
}
.ui.items>.item>.image+.content {
    min-width: 0;
    width: auto;
    display: block;
    margin-left: 0;
    -ms-flex-item-align: top;
    align-self: top;
    padding-left: 1.5em;
}
.ui.items>.item>.content {
    display: block;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    background: 0 0;
    margin: 0;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 1em;
    border: none;
    border-radius: 0;
}