#cont {
    margin-top: 1em!important;
    margin-bottom: 0.5em!important;
    border: 1px gold solid;
    padding: 1em;
    width: 600px;
    margin-left: 1em;
    margin-right: 1em;
    float: left;
    border-radius: 1em;
}

.ui.right.floated.yellow.button a {
    color: black;
}