#mainMenu {
    font-family: Arial, Helvetica, sans-serif;
    background: url('./../images/menu-background.jpg');
    background-position: left 30% top 30%;
    background-size: cover;
    padding: 10px 0px 10px 10px;
}