<div class="ui clearing segment">
  <a [routerLink]="['/newsList']">
    <h2 class="ui icon floated header">
      <i class="browser icon"></i>
      <div class="content">
        News Management
      </div>
    </h2>
  </a>

  <h2 class="ui icon floated header">
    <i class="user icon"></i>
    <div class="content">
      User Management
    </div>
  </h2>

  <h2 class="ui icon floated header">
    <i class="calendar icon"></i>
    <div class="content">
      Events Management
    </div>
  </h2>
</div>
