<app-header-menu></app-header-menu>
<div class="menuTitle">
  Admin Management Site
</div>

<div class="ui clearing segment">
  <a [routerLink]="['/newsList']">
    <h2 class="ui icon floated header">
      <i class="browser icon"></i>
      <div class="content">
        News Management
      </div>
    </h2>
  </a>

  <a [routerLink]="['/membersList']">
    <h2 class="ui icon floated header">
      <i class="user icon"></i>
      <div class="content">
        Member Management
      </div>
    </h2>
  </a>

  <a [routerLink]="['/eventsList']">
    <h2 class="ui icon floated header">
      <i class="calendar icon"></i>
      <div class="content">
        Events Management
      </div>
    </h2>
  </a>

  <a [routerLink]="isAdmin ? ['/usersList'] : ['/admin/userEditor/' + userId]">
    <h2 class="ui icon floated header">
      <i class="doctor icon"></i>
      <div class="content">
        User Management
      </div>
    </h2>
  </a>

  <a [routerLink]="['/home']" (click)="logout()">
    <h2 class="ui icon floated header">
      <i class="sign out icon"></i>
      <div class="content">
        Logout
      </div>
    </h2>
  </a>
</div>
