<app-header-menu></app-header-menu>
<div class="menuTitle">
  4. Suli Frizbi
</div>


<div class="article-container-wrapper">
  <div class="article-container">

  <h2>Idén is megrendezték a Suli Frizbi Kupát</h2>
  <h5>2017. május 26.</h5>

  <div class="article-image">
    <img src="./assets/images/news/sulifrizbi.jpg" >
  </div>

  <p>Negyedjére csaptak össze a szegedi általános és középiskolák ultimate frizbiben.</p>

  <p>Az immáron negyedik alkalommal megtartott Suli Frizbi Kupának szokásosan a Kertész utcai UTC pálya adott otthon. A kupát megelőzően a tanév második félévében a szervezők négy szegedi középiskolában tartottak rendszeresen testnevelés órákat a Suli Frizbi Program keretében, ahol az ultimate frizbi alapjait ismerhették meg a diákok, e mellett számos iskolai sportnapon is bemutatták a csapatsportot.</p>

  <p>Csiszár Tímea, az UTC Frizbi szakosztályának vezetője megnyitóbeszédében kiemelte a tavaly május óta elért, szegedi vonatkozású junior eredményeket. A Magyar Frizbi Szövetség a 2016-os év junior korú női ultimate játékosának Király Enikőt, a szegedi Szufla csapat tagját, a Karolina Gimnázium végzős diákját választotta. Idén áprilisban az országos Ultimate Frizbi Diákolimpia döntőjében 3 csapat képviselte a szegedi diákokat: két csapat a Piarista Gimnáziumból és egy a Kőrösy-ből. A szegediek 26 csapatból az előkelő 9. helyezést érték el. Tavaly május óta számos junior korú gyerek kezdett el komolyabban foglalkozni az ultimate frizbivel, iskolai szakkör keretein belül vagy csatlakozva a szegedi Szufla csapathoz.</p>

  <p>Ezt követően megkezdődtek a mintegy 110 diák részvételével, két kategóriában zajló mérkőzések. Az általános iskolások (felső tagozatosok) között nyolc, a középiskolások között öt csapat versengett egymással. Összesen 35 meccset játszottak le, párhuzamosan négy kézilabda méretű pályán zajlott az öt az öt elleni játék.</p>

  <p class="bold">Eredmények, középiskolások</p>

  <div>1. és 2. hely: Piarista Gimnázium csapatai</div>
  <div>3. hely: Eötvös Gimnázium csapata</div>

  <p class="bold">Eredmények, általános iskolások</p>

  <div>1. és 2. hely: Tisza-parti Általános Iskola csapatai</div>
  <div>3. hely: Karolina Általános Iskola csapata</div>

  <p>“A délelőtt jó hangulatban, sportszerű játékkal telt, a diákok és az őket elkísérő testnevelők is lelkesek voltak. Talán már ismert, hogy ez egy olyan csapatsport, ahol nincs bíró (világversenyen sem), a játékosok felelőssége a szabályok betartása és a felmerülő szabálytalanságok behívása, megbeszélése. Öröm volt látni, hogy a versenynap végére már a kicsiknek is sikerült ezt a viselkedésmintát elsajátítani, már maguk is ügyesen kezelték a felmerült vitás helyzeteket. Több pedagógus is ezt emelte ki, mint legfőbb előnyét az ultimate-nek, amellett hogy izgalmas, látványos, és sok gyereket megmozgat” – számolt be az eseményről Kucsora Róbert, a Suli Frizbi Program főszervezője”</p>

  <p>A következő tanévben is folytatódik a Suli Frizbi Program, a tervek szerint 2017 szeptember végén és 2018 májusában újra megmérkőzhetnek a csapatok mindkét kategóriában a vándorkupákért!</p>

  <p>Aki kedvet kapott a sporthoz, a Szufla ingyenes edzéseket tart egész júniusban minden hétfőn és szerdán 18:00-20:00 az UTC pályán, melyre minden érdeklődőt szeretettel várnak, akár aktív résztvevőként, akár nézőként! Az edzések első fél órájában a Szegedi Amatőr Ultimate Bajnokság zajlik, pörgős meccseket láthat, aki kilátogat.</p>

  </div>
</div>