.news-main-container {
    width: 100%;
}

.news-container-wrapper {
    max-width: 1350px;
}

.news-main-container:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 15em;
    width: 100%;
    height: 88vh;
    z-index: -1;
    opacity: 0.05;
    background: url('../../assets/images/grass.jpg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}