.mainContainer {
    width: 100%;
}

.ContentContainer {
    max-width: 900px;
    margin: 1.5em auto;
}

h1 {
    margin: 1em 0em;
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,220,100,1) 71%,rgba(255,199,34,1) 99%);
    padding: 0px 1.5em;
}

p.description {
    text-indent: 0px;
}

.szupiPic {
    float: left;
    max-width: 50%;
    margin: 1em 1em 0em 4em;
}

img {
    width: 100%;
}

.simpleRow {
    display: block;
}

.applying {
    font-weight: bold;
}

.matchDay {
    color: darkblue;
}

.tabTextFrame {
    transform: skew(-33deg);
}

.tabText {
    transform: skew(33deg);
}

.ui.secondary.pointing.menu .active.item {
    background-color: #ffc722;
}

.addLeftMargin {
    margin-left: 3em;
}

h1.noMargin {
    margin: 0px;
}

.ui.table {
    width: 95%;
}

h1.marginBottom5px {
    margin-bottom: 5px;
}

caption {
    caption-side: top;
}

p {
    margin-left: 2em;
    text-align: justify;
    font-size: 14px;
    line-height: 2em;
    text-indent: 4em;
    padding: 0em 1.5em;
}

ul > p {
    margin-left: 0em;
    text-align: justify;
    font-size: 14px;
    line-height: 2em;
    text-indent: 0em;
    padding: 0em 1.5em;
}

li {
    margin-left: 4em;
    text-align: justify;
    font-size: 14px;
    line-height: 2em;
    padding: 0em 1.5em;
}

li:first-child {
    margin-top: -1em;
}

li:last-child {
    margin-bottom: 2em;
}

.ui.pointing.secondary.menu {
    overflow: hidden;
    padding: 0em 1em;
}

/* vertical menu */
@media only screen and (max-width: 850px) {   
    .ui.pointing.secondary.menu {
        overflow: scroll;
        padding: 0em 1em;
    }

    h1 {
        margin: 0.25em 0.5em;
        background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,220,100,1) 71%,rgba(255,199,34,1) 99%);
        padding: 0em 0em;
        font-size: 1.5rem;
    }

    .szupiPic {
        float: left;
        max-width: 100%;
        margin: 1em 1em 0.5em 0em;
    }

    p {
        margin-left: 0em;
        padding: 0.5em;
    }

    li {
        margin-left: 0em;
        padding: 0em 0.5em;
    }

    li:first-child {
        margin-top: 0px;
    }
}