<div class="menuTitle">
  SZUPI Kupa
</div>

<div class="mainContainer">
  <div class="ContentContainer">

    <h1>SZUPI Kupa</h1>

    <div class="szupiPic">
        <img src="./assets/images/events/szupi/szupikupa.jpg">
    </div>
    <p class="description">
      A SZUPI egy hagyományos kalaptornának megfelelő, 1-2 napos, nagypályás torna, melyen irányított sorsolással hasonló képességű, 
      7 fős csapatok küzdenek meg a címért. Minden csapatban helyet kapnak amatőr és hobbi, illetve kezdő szintű játékosok, mivel a 
      rendezvény mindenki számára nyitott.
    </p>

    <p class="description">
      A kialakított, vegyes csapatok az előre elkészített kiírás szerint mérkőzéseket játszanak egymás ellen, így összemérve a 
      csapatok erejét és tudását.
    </p>

    <p class="description">
      A barátságos mérkőzések során nagy hangsúly van a csapatok gyors egységgé alakításának, melyet sok beszélgetéssel és 
      kapcsolatteremtéssel lehet elérni. Többnyire az a csapat szerzi meg a torna első helyét, akik a legjobban képesek gyorsan
       adaptálódni az egyéni képességek és a csapat összhangja szerint.
    </p>

    <p class="description">
      A verseny általánosságban 9 és 16 óra között zajlik egy ebédszünettel összekötve, valamint a részvételi díj ellenében 
      mindenki ajándékképpen megkapja a számára kisorsolt emblémás pólót. A szerencsések további díjakban részesülhetnek.
    </p>

    <div><p class="description">Tervezett létszám: kb 40-50 fő</p></div>
    <div><p class="description">Tervezett csapatok száma: 4-6 csapat</p></div>
  </div>
</div>