.article-container-wrapper {
    width: 100%;
    padding: 1em;
}

.article-container {
    max-width: 1000px;
    margin: auto;
    text-align: justify;
}

.article-image {
    text-align: center;
}

h2 {
    padding: 2em 0em 0em 0em;
}

h5 {
    margin: -1.5em 0em 1em;
    font-size: 12px;
    font-weight: normal;
    margin: -1em 0em 2em;
}

img {
    box-shadow: 10px 10px 40px gray;
    margin: 0em 0em 1em;
    max-width: 100%;
}

.bold {
    font-weight: bold;
}

p {
    margin: 1.6em 0em;
    line-height: 1.7em;
}

p:first-child {
    margin: 0px;
}

.team {
    width: 70px;
    float: left;
}

.date-place {
    width: 175px;
    float: left;
}