<app-header-menu></app-header-menu>
<div class="menuTitle">
  3. SZAUB
</div>


<div class="article-container-wrapper">
  <div class="article-container">

  <h2>Befejeződött a 3. SZAUB, a tabella végleges.</h2>
  <h5>2017. május 26.</h5>

  <div class="article-image">
    <img src="./assets/images/news/szaub3.jpg" >
  </div>

  <p>A szegedi amatőr ultimate frizbi bajnokság (SZAUB) fordulói véget értek, a győztes végül a Discrém lett.</p>

  <p>Véget ért a Szegedi Amatőr Ultimate Frizbi bajnokság (SZAUB) 3. bajnoksága: a 4 csapat 23 lelkes versenyzője pörgős mérkőzéseket játszottak az összes fordulóban, mely végül a lendületesen kezdő, majdnem minden mérkőzését megnyerő Discrém győzelmét hozta.</p>

  <p class="bold">Eredmények</p>

  <div><div class="date-place">Május 22. 18:00	UTC</div>	<div class="team">Discrém</div> <div class="team">See Team</div>	13:7</div>
  <div><div class="date-place">Május 24. 18:00	UTC</div>	<div class="team">EPAM</div> <div class="team">Discrém</div>	1:15</div>
  <div><div class="date-place">Május 24. 18:00	UTC</div>	<div class="team">See Team</div> <div class="team">PacsiTeam</div>	10:8</div>
  <div><div class="date-place">Május 29. 18:00	UTC</div>	<div class="team">EPAM</div> <div class="team">See Team</div>	5:10</div>
  <div><div class="date-place">Május 31. 18:00	UTC</div>	<div class="team">Discrém</div> <div class="team">PacsiTeam</div>	19:6</div>
  <div><div class="date-place">Május 31. 18:30	UTC</div>	<div class="team">See Team</div> <div class="team">EPAM</div>	14:6</div>
  <div><div class="date-place">Június 7. 17:30	UTC</div>	<div class="team">See Team</div> <div class="team">Discrém</div>	14:10</div>
  <div><div class="date-place">Június 7. 18:00	UTC</div>	<div class="team">Discrém</div> <div class="team">EPAM</div>	16:8</div>
  <div><div class="date-place">Június 7. 18:00	UTC</div>	<div class="team">PacsiTeam</div> <div class="team">See Team</div>	9:11</div>
  <div><div class="date-place">Június 12. 18:00	UTC</div>	<div class="team">EPAM</div> <div class="team">PacsiTeam</div>	7:12</div>
  <div><div class="date-place">Június 14. 18:00	UTC</div>	<div class="team">PacsiTeam</div> <div class="team">Discrém</div>	2:14</div>
  <div><div class="date-place">Június 15. 18:00	Mátyástér</div> <div class="team">PacsiTeam</div> <div class="team">EPAM</div>	11:7</div>

  <p class="bold">Az bajnokság végeredménye:</p>

  <div>1	Discrém	: 15 pont</div>
  <div>2	See Team :	15 pont</div>
  <div>3	PacsiTeam : 6 pont</div>
  <div>4	EPAM : 0 pont</div>

  </div>
</div>