<div class="s-members-container">
  <div class="title">
    Csapat <span>Tagok</span>
  </div>
  <div class="s-members-container">
    <div class="s-members">
      <app-short-members-data name="Rózsa Tibor" position="handler" number="8" img_src="rozsa"></app-short-members-data>
      <app-short-members-data name="Griecs Péter" position="handler" number="42" img_src="petor"></app-short-members-data>
      <app-short-members-data name="Kucsora Róbert" position="handler" number="57" img_src="kucsi"></app-short-members-data>
      <app-short-members-data name="Daruka Lejla" position="cutter" number="26" img_src="lejla"></app-short-members-data>
    </div>
  </div>
  <div class="members">
    <a [routerLink]="['/members/players']" [routerLinkActive]="['active']">Játékosok</a>
  </div>
</div>