.s-members-container {
    width: 100%;
}

.title {
    padding: 0px 0px;
    text-transform: uppercase;
    line-height: 91px;
    font-size: 50px;
    color: #363533;
    text-align: center;
}

.title span {
    color: #ffc722;
}

.members {
    padding: 0 0 30px;
    text-align: center;
}

.members a:before {
    content: '';
    position: absolute;
    top: -3px;
    right: -3px;
    bottom: -3px;
    left: -3px;
    border: 1px solid #ffc722;
}

.members a {
    padding: 0 50px;
    background: #ffc722;
    position: relative;
    display: inline-block;
    line-height: 38px;
    font-size: 12px;
    font-weight: bold;
    color: #363533;
    text-transform: uppercase;
    transition: 400ms all;
    -webkit-transition: 400ms all;
}

a {
    transition: 400ms color;
    -webkit-transition: 400ms color;
    outline: none;
    cursor: pointer;
}

.members a:hover {
    color: #fff;
    background: #363533;
}

.s-members {
    max-width: 1350px;
    display: block;
    margin: 0 auto;
}