#mainContainer {
    height: 15em;
}

#menu {
    display: none;
}

#content {
    background-color: whitesmoke;
    height: 100%;
}

.header {
    height: 100%;
    background-image: url('../../assets/images/ultimateBackground.jpg');
    background-size: cover;
}

.toolbar-placeholder {
    height: 25px;
    background: transparent;
}

.menu-top-placeholder {
    width: 100%;
    background-color: rgba(255,255,255,0.15);
    height: 45px;
}

.menu-placeholder {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}

.teamName-header {
    float: left;
    padding-left: 4.5%;
    color: black;
    position: relative;
    top: 13px;
    text-transform: uppercase;
    z-index: 10;
    font-size: 25px;
}

.teamName-header > img {
    height: 18px;
    padding-right: 10px;
}

#content div#menuActivate a {
    display: none;
}

.teamName-header:after {
    content: '';
    transform: skewX(-33deg);
    -webkit-transform: skewX(-33deg);
    background: #ffc722;
    position: absolute;
    right: -20px;
    top: -13px;
    bottom: -12px;
    left: -1000%;
    z-index: -1;
}

.teamName-header:before {
    content: '';
    transform: skewX(-33deg);
    -webkit-transform: skewX(-33deg);
    background: #fdbd00;
    position: absolute;
    right: -26px;
    top: -38px;
    bottom: -22px;
    left: -1000%;
    z-index: -2;
    transition: 400ms all;
    -webkit-transition: 400ms all;
}

/* vertical menu */
@media only screen and (max-width: 950px) {
    #menu {
        display: none;
        width: 20em;
        height: 100%;
        background: rgba(255, 255, 255, 0.9);
        float: left;
        font-family: cursive;
        position: absolute;
        z-index: 10;
    }

    #menu.responsive {
        width: 15em;
        box-shadow: 3px 2px 2px 0px black;
        visibility: visible;
        opacity: 1;
        z-index: 15;
        position: absolute;
        top: 0px;
        height: 100%;
        overflow: auto;
    }

    #content {
        position: relative;
        z-index: 0;
    }

    #content div#menuActivate {
        margin-left: auto;
        width: 0%;
    }

    #content div#menuActivate a {
        display: block;
        position: relative;
        width: 3%;
        height: 45px;
        top: 13px;
        left: 1%;
        color: white;
    }

    .header {
        background-position-x: -170px;
    }
}

.promo {
    position: relative;
    top: 50%;
    left: 30%;
    text-align: right;
    width: 60%;
    color: #fff;
}

.promo h4 {
    padding: 0 20px;
    text-transform: uppercase;
    line-height: 91px;
    display: inline;
    font-size: 50px;
}

.promo-main span, .promo-sub span {
    color: #ffc722;
}

.promo-main {
    background: rgba(0, 0, 0, 0.5);
    padding: 8px;
}

.promo-sub {
    font-size: 30px;
    line-height: 20px;
}