<div id="mainContainer">
    <div id="menu">
        <app-vertical-menu></app-vertical-menu>
    </div>
    <div id="content">
        <div class="header">
            <div class="toolbar-placeholder">
            </div>
            <div class="menu-top-placeholder">
                <div class="menu-placeholder">
                    <a class="teamName-header" href="#">
                        <img src="./assets/images/szuflaLogo.png" alt="logo" title="logo">
                        <span>Szufla</span>
                    </a>
                    <app-navigation-bar></app-navigation-bar>
                    <div id="menuActivate"><a (click)="myfunc()">&#9776;</a></div>
                </div>
            </div>
        </div>
    </div>
</div>