<div class="menuTitle">
  Mi az Ultimate Frizbi?
</div>

<div class="mainContainer">
  <div class="ContentContainer">
    <h1>Ultimate Frizbi</h1>
    <p>
      Az Ultimate (Ultimate Frisbee néven is ismert – mivel a „Frisbee“ kifejezést az Egyesült Államokbeli Wham-O cég levédette, így azt a sportág nevében 
      sem lehet használni) egy frizbi koronggal játszott csapatsport, melyben két 7 játékosból álló csapat küzd egymás ellen.
    </p>

    <h1>Jellemzői</h1>
    <div class="imageHolder">
      <img src="./assets/images/ultimate/field.png">
    </div>

    <p>
      A játékhoz használt pálya téglalap alakú, szélessége körülbelül egy futballpálya szélességének a felével egyezik meg. A pálya két végén egy-egy célterület, 
      úgynevezett zóna található. A csapatok célja pontot szerezni azáltal, hogy az egyik játékosa bedobja a korongot a támadott zónába, és ott egy csapattársa elkapja azt. 
      A dobójátékos nem futhat a koronggal, de azt bármelyik irányba bármelyik csapattársának passzolhatja. Minden olyan esetben, amikor sikertelen a passz, az ellenfélhez 
      kerül a korong, és vele az ellentétes oldalon található zóna támadásának joga. A játékosok fizikai érintkezése nem megengedett. A mérkőzés általában a 17. pont 
      megszerzéséig tart, és körülbelül 100 perc hosszú. Az ultimate játékvezető nélkül játszott sportág, a játékosok maguk felelősek a tiszta játékért, a szabályok 
      alkalmazásáért, illetve betartásáért. A játék szellemiségeként megfogalmazott viselkedésminta (Spirit of the Game) iránymutatást ad, hogy a játékosoknak hogyan 
      kell alkalmazni a szabályokat, és hogyan vezessék a mérkőzést önmaguk, játékvezető nélkül.
    </p>

    <p>
      Az ultimate-et az eredeti füves szabadtéri pályán kívül teremben vagy homokos pályán is játsszák, ekkor többnyire az 5-5 ember elleni felállás a jellemző.
    </p>

    <p class="source">
      forrás: Wikipédia
    </p>
  </div>
</div>