<div class="ui vertical menu">
    <div class="item">
        <div class="ui input"><input type="text" placeholder="Search..."></div>
    </div>
    <a class="item">
        <i class="icon"><img class="icons" src="images/menu/news.png"></i> Hírek
    </a>
    <div class="item">
        <i class="icon"><img class="icons" src="images/menu/practice.png"></i> Edzés
        <div class="menu">
            <a class="item intendLeft"><img class="icons" src="images/menu/outdoor.png">Szabadtéri</a>
            <a class="item intendLeft"><img class="icons" src="images/menu/indoor.png">Terem</a>
        </div>
    </div>
    <div class="item">
        <i class="icon"><img class="icons" src="images/menu/team.png"></i> Csapat
        <div class="menu">
            <a class="item intendLeft"><img class="icons" src="images/menu/managers.png">Szervezők</a>
            <a class="item intendLeft"><img class="icons" src="images/menu/players.png">Játékosok</a>
        </div>
    </div>
    <div class="item">
        <i class="icon"><img class="icons" src="images/menu/ultimate.png"></i> Ultimate
        <div class="menu">
            <a class="item intendLeft">Ultimate Frizbi</a>
            <a class="item intendLeft">Szupi Kupa</a>
            <a class="item intendLeft">Suli Frizbi</a>
            <a class="item intendLeft">SZAUB</a>
            <a class="item intendLeft">DiscOver</a>
            <a class="item intendLeft">Versenyek</a>
        </div>
    </div>
    <a class="item">
        <i class="icon"><img class="icons" src="images/menu/contactus.png"></i> Kapcsolat
    </a>
</div>