/* You can add global styles to this file, and also import other style files */
@import url("../node_modules/angular-calendar/dist/css/angular-calendar.css");

body {
    padding: 0px;
    margin: 0px;
}

.menuTitle {
    position: absolute;
    top: 7.7em;
    color: black;
    width: 80%;
    right: 0px;
    padding: 0.5em 2em;
    z-index: 0;
    text-transform: uppercase;
    font-size: 22px;
    overflow: hidden;
}

.menuTitle:before {
    content: '';
    background: #ffc722;
    transform: skew(-33deg);
    -webkit-transform: skew(-33deg);
    position: absolute;
    left: 14px;
    top: 0;
    bottom: 0;
    width: 150%;
    z-index: -1;
}

@media only screen and (max-width: 850px) {
    .menuTitle {
        top: 9.65em;
        font-size: 18px;
    }
}

@media only screen and (max-width: 350px) {
    .menuTitle {
        top: 10.25em;
        font-size: 17px;
    }
}

.mainLoading {
    width: 100%;
    text-align: center;
}