h3 {
  margin: 0 0 10px;
}

pre {
  background-color: #f5f5f5;
  padding: 15px;
}

.btn-calender {
    background-color: #fdbd00;
    border: 1px solid #fde900;
}
.btn-calender, .btn-secondary {
    cursor: pointer;
}

.row.text-center {
    padding-top: 2em;
}

.ui.large.header {
    padding: 1em 0em;
}

.setCenterOnFullScreen {
    max-width: 700px;
    margin: auto;
}

.calendarWrapper:before {
    content: ' ';
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.09;
    background: url('https://sluphojo.files.wordpress.com/2010/11/assignment-6-040.jpg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}